# 🧪 Ferramentas de desenvolvimento e verificação

pytest>=7.0             # Framework de testes unitários
pytest-cov>=4.1.0       # Geração de relatórios de cobertura de testes
flake8>=6.0.0           # Análise de estilo (PEP 8) e linting de código
mypy>=1.8.0             # Verificação estática de tipos (recomendado com tipagem)
mkdocs-git-revision-date-localized-plugin>=1.4.7
mkdocs-mermaid2-plugin>=1.2.1


# 🔧 Extras recomendados (opcional)

# mkdocs>=1.5.3                # Gerador de documentação estática (Markdown)
# mkdocs-material>=9.5.12      # Tema moderno para MkDocs
# pipreqs>=0.4.13              # Geração automática de requirements.txt baseado no código

